.nav {
    grid-area: n;
    background-color: darkmagenta;
}

.item{
    list-style-type: none;
    margin-top: 10px;
}

.item a{
    color: white;
    text-decoration: none;

}

.item a.activeLink{
    color: coral;
}